absl-py==2.1.0
accelerate==1.3.0
ace_tools==0.0
aiocache==0.12.3
aiocometd==0.4.5
aiodns==3.2.0
aiofiles==24.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.14
aiohttp-client-cache==0.11.1
aiosignal==1.3.2
aiosqlite==0.20.0
alembic==1.14.0
alpaca-py==0.38.0
altair==5.5.0
altgraph==0.17.4
annotated-types==0.7.0
anthropic==0.45.2
anyio==4.8.0
appdirs==1.4.4
APScheduler==3.10.4
arch==7.2.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.8.1
asttokens==3.0.0
astunparse==1.6.3
async-lru==2.0.5
async-timeout==5.0.1
attrs==25.1.0
Authlib==1.3.2
autogen-agentchat==0.4.9.3
autogen-core==0.4.9.3
autogen-ext==0.4.9.3
autogenstudio==0.4.2.1
autopep8==2.3.2
av==12.3.0
azure-ai-documentintelligence==1.0.2
azure-ai-inference==1.0.0b9
azure-core==1.33.0
azure-identity==1.21.0
babel==2.17.0
backoff==2.2.1
backports.tarfile==1.2.0
bcolz-zipline==1.2.12
bcrypt==4.2.0
beautifulsoup4==4.12.3
bidict==0.23.1
binance==0.3
bitarray==3.0.0
bitsandbytes==0.45.1
black==24.8.0
bleach==6.2.0
blinker==1.9.0
blosc2==3.0.0
boto3==1.35.53
botocore==1.35.99
Bottleneck==1.4.2
bs4==0.0.2
build==1.2.2.post1
cabarchive==0.2.4
cachetools==5.5.1
cattrs==24.1.3
ccxt==4.4.49
certifi==2024.12.14
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
chroma-hnswlib==0.7.6
chromadb==0.6.2
ckzg==2.0.1
clarabel==0.9.0
click==8.1.8
cloudpickle==3.1.0
cobble==0.1.4
colbert-ai==0.2.21
colorama==0.4.6
colorclass==2.2.2
coloredlogs==15.0.1
comm==0.2.2
compressed-rtf==1.0.6
contourpy==1.3.1
courlan==1.3.2
cryptography==44.0.0
cssselect==1.3.0
cssutils==2.11.1
ctranslate2==4.5.0
curl_cffi==0.10.0
cvxpy==1.6.0
cx_Freeze==8.1.0
cx_Logging==3.2.1
cycler==0.12.1
Cython==3.0.12
cytoolz==1.0.1
dash==2.18.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dataclasses==0.6
dataclasses-json==0.6.7
dataframe_image==0.2.7
datasets==3.2.0
dateparser==1.2.1
dbnomics==1.2.6
dearpygui==2.0.0
debugpy==1.8.11
decorator==5.1.1
deepdiff==8.4.2
defusedxml==0.7.1
Deprecated==1.2.18
dill==0.3.8
distro==1.9.0
dnspython==2.7.0
docker==7.1.0
docx2txt==0.8
duckduckgo_search==7.2.1
durationpy==0.9
easygui==0.98.3
ebcdic==1.1.1
ecdsa==0.19.0
ecos==2.0.14
einops==0.8.0
email_validator==2.2.0
emoji==2.14.1
empyrical-reloaded==0.5.11
et_xmlfile==2.0.0
eth-account==0.13.4
eth-hash==0.7.1
eth-keyfile==0.8.1
eth-keys==0.6.1
eth-rlp==2.1.0
eth-typing==5.1.0
eth-utils==5.1.0
eth_abi==5.2.0
eval_type_backport==0.2.2
Events==0.5
exchange_calendars==4.7
executing==2.1.0
extract-msg==0.52.0
faiss-cpu==1.9.0.post1
fake-useragent==1.5.1
Farama-Notifications==0.0.4
fastapi==0.115.12
fastapi-cli==0.0.7
faster-whisper==1.0.3
fastjsonschema==2.21.1
filelock==3.17.0
filetype==1.2.0
finvizfinance==1.1.0
Flask==3.1.0
Flask-Cors==5.0.0
flatbuffers==25.1.21
fonttools==4.55.3
formulaic==1.1.1
fpdf2==2.8.2
freezegun==1.5.1
frozendict==2.4.6
frozenlist==1.5.0
fs==2.4.16
fsspec==2024.9.0
ftfy==6.2.3
gast==0.6.0
gcp-storage-emulator==2024.8.3
gevent==24.11.1
git-python==1.0.3
gitdb==4.0.12
GitPython==3.1.44
google-ai-generativelanguage==0.6.6
google-api-core==2.24.1
google-api-python-client==2.160.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-cloud-core==2.4.1
google-cloud-storage==2.19.0
google-crc32c==1.6.0
google-generativeai==0.7.2
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.63.2
greenlet==3.1.1
grpcio==1.67.1
grpcio-status==1.62.3
grpcio-tools==1.62.3
gym==0.26.2
gym-notices==0.0.8
gymnasium==1.0.0
h11==0.14.0
h2==4.1.0
h5py==3.12.1
hexbytes==1.3.0
hmmlearn==0.3.3
hpack==4.1.0
html2text==2025.4.15
html5lib==1.1
htmldate==1.9.3
httpcore==1.0.7
httplib2==0.22.0
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.27.1
humanfriendly==10.0
hurst==0.0.5
hyperframe==6.1.0
idna==3.10
importlib_metadata==8.4.0
importlib_resources==6.5.2
inflection==0.5.1
iniconfig==2.0.0
inscriptis==2.6.0
interface-meta==1.3.0
intervaltree==3.1.0
ipykernel==6.29.5
ipython==8.31.0
iso3166==2.1.1
iso4217==1.12.20240625
isodate==0.7.2
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jedi==0.19.2
Jinja2==3.1.5
jiter==0.8.2
jmespath==1.0.1
joblib==1.4.2
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpickle==4.0.2
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
jusText==3.0.2
kaleido==0.2.1
keras==3.8.0
keyring==25.6.0
kiwisolver==1.4.8
korean-lunar-calendar==0.3.1
kubernetes==32.0.0
langchain==0.3.7
langchain-community==0.3.7
langchain-core==0.3.33
langchain-text-splitters==0.3.5
langdetect==1.0.9
langfuse==2.44.0
langsmith==0.1.147
lark==1.1.9
ldap3==2.9.1
libclang==18.1.1
lief==0.16.4
linearmodels==6.1
llvmlite==0.44.0
loguru==0.7.3
lru-dict==1.3.0
lxml==5.3.0
lxml_html_clean==0.4.1
Mako==1.3.8
mammoth==1.9.0
Markdown==3.7
markdown-it-py==3.0.0
markdownify==1.1.0
markitdown==0.0.2
MarkupSafe==3.0.2
marshmallow==3.26.0
matplotlib==3.10.0
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.1.3
ml-dtypes==0.4.1
mmh3==5.1.0
monotonic==1.6
more-itertools==10.6.0
moto==5.0.27
mplfinance==0.12.10b0
mpmath==1.3.0
msal==1.32.0
msal-extensions==1.3.1
msgpack==1.1.0
msoffcrypto-tool==5.4.2
multidict==6.1.0
multipledispatch==1.0.0
multiprocess==0.70.16
multitasking==0.0.11
mypy-extensions==1.0.0
namex==0.0.8
narwhals==1.34.1
Nasdaq-Data-Link==1.0.4
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
ndindex==1.9.2
nest-asyncio==1.6.0
networkx==3.4.2
ninja==1.11.1.3
nltk==3.9.1
numba==0.61.0
numexpr==2.10.2
numpy==2.2.5
oauthlib==3.2.2
olefile==0.47
oletools==0.60.2
ollama-gui==1.2.1
onnxruntime==1.20.1
open-webui==0.5.7
openai==1.60.2
openbb==4.4.1
openbb-alpha-vantage==1.4.0
openbb-benzinga==1.4.0
openbb-biztoc==1.4.0
openbb-bls==1.1.0
openbb-cboe==1.4.0
openbb-cftc==1.1.0
openbb-charting==2.3.2
openbb-cli==1.1.7
openbb-commodity==1.3.0
openbb-core==1.4.2
openbb-crypto==1.4.0
openbb-currency==1.4.0
openbb-deribit==1.0.0
openbb-derivatives==1.4.0
openbb-ecb==1.4.1
openbb-econdb==1.3.0
openbb-econometrics==1.5.1
openbb-economy==1.4.0
openbb-equity==1.4.0
openbb-etf==1.4.0
openbb-federal-reserve==1.4.0
openbb-finra==1.4.0
openbb-finviz==1.3.0
openbb-fixedincome==1.4.2
openbb-fmp==1.4.1
openbb-fred==1.4.1
openbb-government-us==1.4.0
openbb-imf==1.1.0
openbb-index==1.4.0
openbb-intrinio==1.4.0
openbb-multpl==1.1.0
openbb-nasdaq==1.4.0
openbb-news==1.4.0
openbb-oecd==1.4.0
openbb-platform-api==1.1.4
openbb-polygon==1.4.0
openbb-quantitative==1.4.1
openbb-regulators==1.4.1
openbb-sec==1.4.1
openbb-seeking-alpha==1.4.0
openbb-stockgrid==1.4.0
openbb-technical==1.4.1
openbb-tiingo==1.4.0
openbb-tmx==1.3.0
openbb-tradier==1.3.0
openbb-tradingeconomics==1.4.0
openbb-us-eia==1.1.0
openbb-wsj==1.4.0
openbb-yfinance==1.4.1
opencv-python==4.11.0.86
opencv-python-headless==4.10.0.84
openpyxl==3.1.5
opensearch-py==2.7.1
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp-proto-common==1.27.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
opentelemetry-instrumentation==0.48b0
opentelemetry-instrumentation-asgi==0.48b0
opentelemetry-instrumentation-fastapi==0.48b0
opentelemetry-proto==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
opentelemetry-util-http==0.48b0
opt_einsum==3.4.0
optree==0.14.0
orderly-set==5.3.0
orjson==3.10.15
osqp==0.6.7.post3
overrides==7.7.0
packaging==24.2
pandas==2.2.3
pandas-datareader==0.10.0
pandas-ta-openbb==0.4.20
pandas_market_calendars==4.5.1
pandocfilters==1.5.1
parsimonious==0.10.0
parso==0.8.4
passlib==1.7.4
pathspec==0.12.1
pathvalidate==3.2.3
patsy==1.0.1
pbr==6.1.0
pcodedmp==1.2.6
pdflatex==0.1.3
pdfminer.six==20250416
peewee==3.17.8
peewee-migrate==1.12.2
pefile==2023.2.7
pgvector==0.3.5
pillow==11.1.0
platformdirs==4.3.6
playwright==1.51.0
plotly==5.24.1
pluggy==1.5.0
poly_eip712_structs==0.0.1
portalocker==2.10.1
posthog==3.11.0
primp==0.11.0
prompt_toolkit==3.0.50
propcache==0.2.1
prosperity3bt==0.10.0
prosperity3submit==0.1.1
proto-plus==1.26.0
protobuf==5.29.4
psutil==6.1.1
psycopg==3.2.6
psycopg2-binary==2.9.9
pure_eval==0.2.3
puremagic==1.28
py-cpuinfo==9.0.0
py-partiql-parser==0.6.1
py_clob_client==0.20.0
py_order_utils==0.3.2
pyarrow==19.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycares==4.5.0
pyclipper==1.3.0.post6
pycodestyle==2.12.1
pycparser==2.22
pycryptodome==3.21.0
pydantic==2.11.3
pydantic-settings==2.7.1
pydantic_core==2.33.1
pydeck==0.9.1
pydub==0.25.1
pyee==12.1.1
Pygments==2.18.0
pyhdfe==0.2.0
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.2
PyJWT==2.10.1
pylatexenc==2.10
pyluach==2.2.0
pymdown-extensions==10.11.2
pymilvus==2.5.0
pymongo==4.11
PyMySQL==1.1.1
pypandoc==1.13
pyparsing==3.2.1
pypdf==4.3.1
PyPika==0.48.9
pyportfolioopt==1.5.6
pyproject_hooks==1.2.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
pyqtgraph==0.13.7
pyrate-limiter==3.7.0
pyreadline3==3.5.4
PySide6==6.8.1.1
PySide6_Addons==6.8.1.1
PySide6_Essentials==6.8.1.1
pytest==8.3.4
pytest-docker==3.1.1
pytest-freezegun==0.4.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-engineio==4.11.2
python-interface==1.6.1
python-iso639==2025.1.28
python-jose==3.3.0
python-magic==0.4.27
python-multipart==0.0.18
python-oxmsg==0.0.1
python-pptx==1.0.0
python-socketio==5.11.3
pytube==15.0.0
pytz==2024.2
PyWavelets==1.8.0
pywin32==308
pywin32-ctypes==0.2.3
pywry==0.6.2
pyxlsb==1.0.10
PyYAML==6.0.2
pyzmq==26.2.0
qasync==0.27.1
qdldl==0.1.7.post4
qdrant-client==1.12.2
qiskit==1.3.1
QuantStats==0.0.62
random-user-agent==1.0.1
rank-bm25==0.2.2
RapidFuzz==3.11.0
rapidocr-onnxruntime==1.3.24
red-black-tree-mod==1.20
redis==5.2.1
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-cache==1.2.1
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
responses==0.25.6
retrying==1.3.4
rich==13.9.4
rich-toolkit==0.13.2
rlp==4.0.1
rpds-py==0.24.0
rsa==4.9
RTFDE==0.1.2
ruff==0.7.4
rustworkx==0.15.1
s3transfer==0.10.4
safetensors==0.5.2
schwab-py==1.4.0
scikit-learn==1.6.1
scipy==1.15.2
scs==3.2.7
seaborn==0.13.2
sec-edgar-downloader==5.0.2
sentence-transformers==3.3.1
sentencepiece==0.2.0
setproctitle==1.3.5
setuptools-scm==8.2.0
shapely==2.0.6
shellingham==1.5.4
shiboken6==6.8.1.1
Shimmy==2.0.0
simple-websocket==1.1.0
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.6
SpeechRecognition==3.14.2
spyder-kernels==2.5.2
SQLAlchemy==2.0.32
sqlmodel==0.0.24
sseclient-py==1.8.0
stable_baselines3==2.4.1
stack-data==0.6.3
starlette==0.46.1
statsmodels==0.14.4
stevedore==5.4.0
streamlit==1.44.1
striprtf==0.0.29
symengine==0.13.0
sympy==1.13.1
tables==3.10.2
tabulate==0.9.0
tastytrade==9.6
tastyworks==4
tenacity==9.0.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow_intel==2.18.0
termcolor==2.5.0
tf_keras==2.18.0
threadpoolctl==3.5.0
tiktoken==0.8.0
tinycss2==1.4.0
tld==0.13
tokenizers==0.21.0
toml==0.10.2
toolz==1.0.0
torch==2.5.1
torch-geometric==2.6.1
tornado==6.4.2
tqdm==4.67.1
trafilatura==2.0.0
traitlets==5.14.3
transformers==4.48.1
typer==0.15.2
typing-inspect==0.9.0
typing-inspection==0.4.0
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
ujson==5.10.0
unstructured==0.15.9
unstructured-client==0.28.1
uritemplate==4.1.1
url-normalize==1.4.3
urllib3==2.3.0
uuid7==0.1.0
uvicorn==0.34.0
validators==0.34.0
watchdog==6.0.0
watchfiles==1.0.4
wcwidth==0.2.13
webencodings==0.5.1
websocket==0.2.1
websocket-client==1.8.0
websockets==14.1
Werkzeug==3.1.3
win-unicode-console==0.5
win32_setctime==1.2.0
wrapt==1.17.2
wsproto==1.2.0
xgboost==2.1.3
xlrd==2.0.1
XlsxWriter==3.2.2
xmltodict==0.13.0
xxhash==3.5.0
yarl==1.18.3
yfinance==0.2.58
youtube-transcript-api==0.6.3
zipline-reloaded==3.1
zipp==3.21.0
zope.event==5.0
zope.interface==7.2
